.aboutContainer {
  padding: 8rem;
  line-height: 2;

  h1{
    font-size: 2rem;
    font-weight: bold;
    color: grey;
    text-decoration: underline;
  }

  p{
    // padding: 1rem;
    font-size: 0.9rem;
    padding-bottom: 2rem;
    text-align: start;
  }
}